.btn-close {
    font-size: 20px;
    color: red;
    opacity: 50%;
    width: 400px;
    height: 150px;
    position: fixed;
    margin-bottom: 400px;
    z-index: 2;
  }

  .alert {
    position: fixed;
    color: red;
    z-index: 2;
  }

  h2 {
    font-family: 'Poppins';
  }

  .total {
    font-family: 'Poppins';
  }

  .add-item-input {
    font-family: 'Poppins';
  }